@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background-color: #e7e7e3;

}
.main-container{
  margin:0 60px;
}

.bluecolor {
  color: #4a69e2;
}
.big-font {
  font-size: 195px;
}

.no-body-margin{
  margin: 0 !important;
}